<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.BidMainMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.entity.BidMain" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="bid_code" property="bidCode" jdbcType="VARCHAR" />
    <result column="bid_name" property="bidName" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, bid_code, bid_name, is_deleted, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bid_main
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bid_main
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssm.entity.BidMain" >
    insert into bid_main (ID, bid_code, bid_name, 
      is_deleted, update_time, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{bidCode,jdbcType=VARCHAR}, #{bidName,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.entity.BidMain" >
    insert into bid_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="bidCode != null" >
        bid_code,
      </if>
      <if test="bidName != null" >
        bid_name,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bidCode != null" >
        #{bidCode,jdbcType=VARCHAR},
      </if>
      <if test="bidName != null" >
        #{bidName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.BidMain" >
    update bid_main
    <set >
      <if test="bidCode != null" >
        bid_code = #{bidCode,jdbcType=VARCHAR},
      </if>
      <if test="bidName != null" >
        bid_name = #{bidName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.entity.BidMain" >
    update bid_main
    set bid_code = #{bidCode,jdbcType=VARCHAR},
      bid_name = #{bidName,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>